
{% extends "recipes/base.html" %}

{% block content %}
<h1>Главная страница</h1>
<ul>
    <li><a href="{% url 'add_recipe' %}">Добавить рецепт</a></li>
    <li><a href="{% url 'login' %}">Войти</a></li>
    <li><a href="{% url 'logout' %}">Выход</a></li>
    <li><a href="{% url 'register' %}">Регистрация</a></li>
    <li><a href="{% url 'recipe_detail' id=1 %}">Просмотр рецепта 1</a></li>  <!-- Пример -->
</ul>

<h2>Рецепты</h2>
<ul>
    {% for recipe in recipes %}
        <li>{{ recipe.name }} - <a href="{% url 'recipe_detail' id=recipe.id %}">Посмотреть</a></li>
    {% endfor %}
</ul>
{% endblock %}


